:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  margin: 0;
  padding: 0;
}

.parent {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 8px;
}
  
.div1 {
  background-color: #333;
  grid-row: span 5 / span 5;
}

.div2 {
  background-color: #333;
  grid-column: span 3 / span 3;
  grid-row: span 5 / span 5;
}

.div3 {
  background-color: #333;
  grid-row: span 5 / span 5;
  grid-column-start: 5;
}
      


.chatCont {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 8px;
}
  
.msg1 {
  background-color: rgb(78, 78, 60);
  grid-column: span 2 / span 2;
}

.msg2 {
  background-color: rgb(78, 78, 60);

  grid-column: span 2 / span 2;
  grid-column-start: 3;
  grid-row-start: 2;
}

.msg3 {
  background-color: rgb(78, 78, 60);

  grid-column: span 2 / span 2;
  grid-row-start: 3;
}

.msg5 {
  background-color: rgb(78, 78, 60);

  grid-column: span 2 / span 2;
  grid-column-start: 3;
  grid-row-start: 4;
}

.msg6 {
  background-color: rgb(78, 78, 60);

  grid-column: span 2 / span 2;
  grid-row-start: 5;
}
      
.msg7 {
  background-color: rgb(78, 78, 60);

  grid-column: span 4 / span 4;
  grid-row-start: 6;
}